{{#each workouts as |workouts|}}

<ul id="workout-listing" data-id="{{workouts.id}}">
  <li>Exercise ID: {{workouts.id}}</li>
  <li>Name: {{workouts.name}}</li>
  <li>Duration: {{workouts.duration}}</li>
  <li>Repetition: {{workouts.repetitions}}</li>
</ul>
{{/each}}
